body{
    background-image: url("https://wallpapercave.com/wp/wp9225943.jpg"); /* Replace with your image path */
    background-repeat: no-repeat; /* Or adjust as needed */
    background-attachment: fixed; /* Or adjust as needed */
    background-size: cover; /* Or adjust as needed */  
}

*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 30px;
    background: rgba(255, 255, 255, 0.082);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.2px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.13);
  
}


#name{
   margin-right: auto;
   letter-spacing: 1px;
   font-size: 20px; 
   color: blueviolet;
}
header li{
    list-style: none;
    display: inline-block;
    padding: 5px 10px;
    color: rgb(123, 27, 212);
    font-size: 15px;
}
header a:hover{
    color: black;
    font-size: larger;
    transition: all 0.9s ease 0;
}

.container{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    margin: auto 100px;
    height: fit-content;;
    display: flex;
    
}


.imgs{
    width: 500px;
    height: 250px;
    opacity: 50px;

    
}

.elec{
    height: fit-content;
    backdrop-filter: blur(2px);
    padding: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(5px);
    width: fit-content;
    
}
.container p{
    color: rgba(248, 241, 241, 0.979);
    font-family: monospace;
    font-size: 15px;
}
